/* ============ Specification ============ */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background: url("../img/bj.jpg") no-repeat center top / cover;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

div,
p,
form,
input,
a,
span,
button,
textarea {
    box-sizing: border-box;
}

.container {
    width: 1230px;
    margin: 0 auto;
    height: 100%;
}

/* Header */
.header {
    padding-bottom: 10px;
}

.bg-fone {
    background: url("../img/bj.jpg") no-repeat center top / cover;
    padding-top: 30px;
    min-width: 100%;
    min-height: 100%;
}

.heading {
    height: 230px;
    display: flex;
    z-index: 10;
    background: url("../img/Layer.jpg") no-repeat center top / cover;
    border-radius: 6px;
    position: relative;
    flex-direction: column;
}

.heading-gear__small {
    background: url("../img/sprite.png") no-repeat;
    height: 38px;
    width: 15px;
    background-position: -510px -9px;
    position: absolute;
    top: 101px;
    right: -14px;
}

.heading-gear__big {
    background: url("../img/sprite.png") no-repeat;
    height: 223px;
    width: 358px;
    background-position: -1146px 0px;
    position: absolute;
    top: 0px;
    right: 35%;
}

.plate {
    display: flex;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid #483a2f;
    box-shadow: 0 -1px 1px #130e08 inset;
}

/*.main-manu {*/
/*    width: 350px;*/
/*    padding-left: 22px;*/
/*    position: relative;*/
/*    border-right: 1px solid #483a2f;*/
/*    box-shadow: -1px 0 1px #130e08 inset;*/
/*}*/

.extra-menu {
    display: flex;
    height: 43px;
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 350px;
    padding-left: 22px;
    position: relative;
    border-right: 1px solid #483a2f;
    box-shadow: -1px 0 1px #130e08 inset;
}

.extra-menu li:not(:nth-child(1)) {
    padding-left: 16px;
}

.extra-menu li a {
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
}

.extra-menu li a:hover {
    background: linear-gradient(#3a302c, #ddc4b2);
    -webkit-background-clip: text;
    color: transparent;
}

.main-search {
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.main-search__riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 19px;
    width: 19px;
    background-position: -494px -57px;
    position: absolute;
    top: 13px;
    left: 17px;
}

.main-search__riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 19px;
    width: 19px;
    background-position: -494px -57px;
    position: absolute;
    top: 13px;
    right: 17px;
}

.main-manu__riv {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 4px;
    left: 8px;
}

.search-block {
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 387px;
    background: #1a1411;
}

/* .search-form {
	width: 100%;
	position: relative;
} */

.search-header {
    width: 100%;
    position: relative;
    background: url("../img/Search-bg.png") no-repeat center center;
}

.search-header input {
    outline: none;
    background: transparent;
    display: block;
    width: 100%;
    height: 34px;
    border: none;
    padding-left: 11px;
    box-shadow: 2px 2px 2px #100c0a inset;
    border-radius: 6px;
    border-bottom: 1px solid #473b35;
    border-right: 1px solid #473b35;
    box-shadow: 2px 2px 2px #100c0a inset;
    font-style: italic;
}

/* .search-heade input {
	width: 100%;
	height: 34px;
	padding-left: 11px;
	border-radius: 6px;
	border-bottom: 1px solid #473b35;
	border-right: 1px solid #473b35;
	box-shadow: 2px 2px 2px #100c0a inset;
	border-top: none;
	border-left: none;
    font-style: italic;
    background: url('../img/Search-bg.png') no-repeat 45px 0 / cover;
} */

.search-header button {
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 1px;
    cursor: pointer;
    right: 3px;
    background: no-repeat;
    padding: 0;
}

.search-header button:focus {
    outline: none;
}

.fa-search {
    font-size: 22px;
    color: #e9c4a8;
}

.search-header input:focus {
    color: #e9c4a8;
}

.info-menu {
    display: flex;
    align-items: center;
    height: 43px;
    justify-content: flex-end;
    width: 350px;
    position: relative;
    border-left: 1px solid #483a2f;
    box-shadow: 1px 0 1px #130e08 inset;
    padding: 0 15px;
}

.bell {
    background: url("../img/sprite.png") no-repeat;
    display: flex;
    height: 24px;
    width: 20px;
    background-position: -359px -49px;
    position: relative;
    margin-right: 22px;
}

.circle {
    background: url("../img/sprite.png") no-repeat;
    display: inline-block;
    height: 29px;
    width: 29px;
    background-position: -425px -15px;
}

.info-menu__text {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.burger {
    background: url("../img/sprite.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 26px;
    background-position: -391px -22px;
    z-index: 50;
    margin-right: 5px;
}

.modile-menu {
    display: none;
    height: auto;
    width: 194px;
    position: absolute;
    top: -2px;
    right: 13px;
    z-index: 50;
    border-radius: 5px;
    border-top: 2px solid #574a3e;
    border-left: 2px solid #574a3e;
    border-bottom: 2px solid #0d0a09;
    border-right: 2px solid #0d0a09;
    background: rgba(30, 23, 20, 1);
    background: -moz-linear-gradient(left, rgba(30, 23, 20, 1) 0%, rgba(30, 23, 20, 1) 100%);
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(30, 23, 20, 1)),
        color-stop(100%, rgba(30, 23, 20, 1))
    );
    background: -webkit-linear-gradient(left, rgba(30, 23, 20, 1) 0%, rgba(30, 23, 20, 1) 100%);
    background: -o-linear-gradient(left, rgba(30, 23, 20, 1) 0%, rgba(30, 23, 20, 1) 100%);
    background: -ms-linear-gradient(left, rgba(30, 23, 20, 1) 0%, rgba(30, 23, 20, 1) 100%);
    background: linear-gradient(to right, rgba(30, 23, 20, 1) 0%, rgba(30, 23, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1714', endColorstr='#1e1714', GradientType=1 );
}

.modile-active {
    display: block;
}

.modile-menu__closed {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    right: 7px;
}

.modile-menu__closed:before {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 13px;
    height: 3px;
    background-color: #cbb3a3;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
    transform: rotate(45deg);
}

.modile-menu__closed::after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 13px;
    height: 3px;
    background-color: #cbb3a3;
    transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
    transform: rotate(-45deg);
}

.modile-menu li a {
    color: #594b45;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.modile-menu li a:hover {
    color: #ede3db;
    transition: all 0.3s ease;
}

.modile-menu__header {
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #483a2f;
    box-shadow: 1px 0 1px #130e08 inset;
    padding-left: 25px;
}

.modile-menu__header li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.modile-menu__body {
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
}

.modile-menu__footer {
    text-decoration: none;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 1px solid #483a2f;
    box-shadow: 1px 0 1px #130e08 inset;
    padding-left: 25px;
}

.modile-menu__footer li a {
    color: #594b45;
    font-size: 14px;
}

.modile-menu__footer:hover {
    color: #ede3db;
    transition: all 0.3s ease;
}

.user {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;
    margin-right: 12px;
}

.bell__number {
    display: flex;
    width: 26px;
    height: 21px;
    background: #d90000;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    left: 13px;
    position: absolute;
    top: -5px;
    align-items: center;
    justify-content: center;
}

.info-menu__riv {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 4px;
    right: 0;
}

.enter-lk {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.enter-lk::before {
    content: "";
    display: inline-block;
    background-image: url("../img/sprite.png");
    background-position: -456px -120px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.enter-lk:hover {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(#3a302c, #ddc4b2);
    -webkit-background-clip: text;
    color: transparent;
}

.riv-long {
    right: 4px !important;
}

.riv-long2 {
    right: 4px !important;
}

.logo {
    padding-left: 60px;
}

.cont-join p {
    color: #413833;
}

.about {
    display: flex;
    height: 145px;
    align-items: center;
    border-bottom: 1px solid #47382e;
    box-shadow: 0 -1px 1px #130e08 inset;
    position: relative;
}

.about__lamp {
    background: url("../img/sprite.png") no-repeat;
    height: 37px;
    width: 82px;
    background-position: -371px -76px;
    position: absolute;
    top: 130px;
    right: 109px;
}

.information {
    display: flex;
    justify-content: space-between;
    height: 43px;
    align-items: center;
}

.counter {
    display: flex;
    width: 404px;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    position: relative;
}

.counter p {
    font-weight: 400;
    color: #b69b87;
}

.counter strong {
    color: #d5c6bd;
    font-weight: 700;
}

.counter__riv {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.online-info {
    padding-right: 104px;
    position: relative;
}

.online-info p {
    font-weight: 400;
    color: #b69b87;
}

.online-info strong {
    font-weight: 700;
    color: #aae07f;
}

.clock {
    background: url("../img/sprite.png") no-repeat;
    height: 30px;
    width: 41px;
    background-position: -462px -15px;
    position: absolute;
    top: -7px;
    left: -50px;
}

.online-info__riv {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.about-holder__left {
    background: url("../img/sprite.png") no-repeat;
    height: 232px;
    width: 42px;
    background-position: -1054px -2px;
    position: absolute;
    top: -42px;
    left: -9px;
}

.about-holder__right {
    background: url("../img/sprite.png") no-repeat;
    height: 232px;
    width: 42px;
    background-position: -1094px -2px;
    position: absolute;
    top: -42px;
    right: -9px;
}

/* Сasino */

.casino {
    padding-bottom: 25px;
}

.aside-wrap {
    display: flex;
    justify-content: space-between;
}

.list-wrap {
    width: 965px;
}

.head-info {
    background: url("../img/Layer2.jpg") no-repeat center top / cover;
    position: relative;
}

.joint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.right-wrap {
    display: flex;
    width: 536px !important;
    justify-content: space-between;
}

.right-wrap p {
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
}

.head-subtitle {
    background: linear-gradient(#ddc4b2, #3a302c);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}

.head-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    position: relative;
    background: rgba(5, 4, 3, 1);
    background: -moz-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(5, 4, 3, 1)),
        color-stop(100%, rgba(68, 56, 44, 1))
    );
    background: -webkit-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050403', endColorstr='#44382c', GradientType=0 );
}

.right-wrapper {
    display: flex;
    width: 418px;
    align-items: center;
    height: 50px;
}

.right-wrapper a {
    color: #29201c;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-wrapper p {
    color: #29201c;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-wrapper__left {
    width: 200px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.right-wrapper__center {
    width: 200px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.right-wrapper__right {
    width: 200px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.column-bj {
    background: #a79383;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.column-bj:hover {
    background: #c4b1a1;
    transition: all 0.3s ease;
}

.column-wrap {
    padding-left: 28px;
}

.column-left {
    display: flex;
    align-items: center;
    margin-left: 0;
    position: relative;
}

.right-wrap__right {
    width: 395px;
}

.right-wrap__center {
    color: #fff;
    width: 132px;
    line-height: 1.4em;
}

.right-wrap__left p {
    color: #000;
    width: 132px;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.right-wrap__right p {*/
/*    color: #fff;*/
/*}*/
.posts {
    width: 156px;
    line-height: 1.4em;
}

.posts a {
    color: #fff;
    text-decoration: none;
}

.left-wrap h2 {
    font-size: 18px;
    font-weight: 700;
    color: #e9c4a8;
}

.left-wrap {
    padding-left: 37px;
    font-size: 11px;
    position: relative;
    display: flex;
    align-items: center;
}

.hot-info {
    background: #d90000;
}

.cont-info {
    background: #a79383;
    transition: all 0.3s ease;
}

.cont-info:hover {
    background: #c4b1a1;
    transition: all 0.3s ease;
}

.last-block {
    border-top: 1px solid #281c11;
}

.hot-joint p {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4em;
}

.cont-link {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    color: #000;
    font-weight: 700;
    position: relative;
}

.cont-link__new {
    color: #fff;
    background: #ff0000;
    width: 45px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    text-transform: uppercase;
}

.hot-link__new {
    color: #ff0000;
    background: #fff;
    width: 45px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 148px;
    margin-left: 4px;
    text-transform: uppercase;
}

.hot-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    width: 340px;
    justify-content: flex-start;
}

.cont-theme span {
    color: #000;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cont-posts strong {
    color: #000;
    font-weight: 700;
}

.last-link {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 700;
    position: relative;
}

.last-join p {
    color: #211a16;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.verification {
    color: #211a16;
    text-decoration: underline;
}

.verification:hover {
    text-decoration: none;
}

.branch {
    padding-left: 26px;
    position: relative;
}

.lock {
    background: url("../img/sprite.png") no-repeat;
    height: 18px;
    width: 16px;
    background-position: -396px -53px;
    position: absolute;
    top: 6px;
    left: 0px;
}

.plate-top {
    background: url("../img/Layer3.jpg") no-repeat;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #e9c4a8;
    position: relative;
}

.article {
    display: flex;
}

.article:not(:last-child) {
    border-bottom: 1px solid #000;
}

.article span {
    color: #fff;
    font-weight: 700;
}

.article a {
    color: #a79383;
    text-decoration: none;
    font-weight: 400;
    font-style: italic;
    height: 50px;
    background: #29201c;
    line-height: 1.4em;
    padding: 8px 16px 0px 8px;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.article a:hover {
    background: #40322c;
    transition: all 0.3s ease;
}

.plate-top h2 {
    font-size: 18px;
    font-weight: 700;
}

.plate-top strong {
    font-size: 18px;
    font-weight: 400;
}

.plate-top__riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.plate-top__riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.event-subtitle {
}

.plate-top__riv3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 31px;
    right: 8px;
}

.plate-top__riv4 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 31px;
    left: 8px;
}

.head-info__riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.head-info__riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 32px;
    right: 8px;
}

.head-info__riv3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.head-info__riv4 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 32px;
    left: 8px;
}

.left-wrap__fire {
    background: url("../img/sprite.png") no-repeat;
    height: 24px;
    width: 22px;
    background-position: -462px -77px;
    position: absolute;
    top: 0;
    left: 0;
}

.left-wrap__copies {
    background: url("../img/sprite.png") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    height: 28px;
    width: 29px;
    background-position: -427px -50px;
    position: absolute;
    top: 2px;
    left: -4px;
}

.left-cont {
    padding-left: 10px;
}

.left-wrap__copies2 {
    background: url("../img/sprite.png") no-repeat;
    height: 28px;
    width: 29px;
    background-position: -427px -50px;
    position: absolute;
    top: 0;
    left: -5px;
}

/* Users */
.users {
    padding-bottom: 103px;
}

.users-online {
    width: 1017px;
    position: relative;
}

.users-online span {
    color: #ff0000;
}

.users-online a {
    color: #998777;
    line-height: 1.7em;
    padding-right: 10px;
}

.users-online__title {
    color: #a79383;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
}

.top-users {
    display: flex;
    flex-wrap: wrap;
}

.top-users li strong {
    color: #fff;
    width: 70px;
    height: 21px;
    background: #d90000;
    padding: 5px 10px 5px 22px;
}

.king {
    text-decoration: none;
}

.crown {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 15px;
    background-position: -467px -56px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.moderator span {
    color: #ff0000;
    text-decoration: underline;
}

.top-users li a:hover {
    text-decoration: none;
    color: #c0a895;
}

.moderator span:hover {
    text-decoration: none;
}

/* message */
.message {
    padding-bottom: 35px;
}

.upper-platform {
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: relative;
    background: rgba(5, 4, 3, 1);
    background: -moz-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(5, 4, 3, 1)),
        color-stop(100%, rgba(68, 56, 44, 1))
    );
    background: -webkit-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050403', endColorstr='#44382c', GradientType=0 );
}

.upper-platform__rivet {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 7px;
    background-position: -351px -14px;
    position: absolute;
    top: 9px;
    left: 9px;
}

.crumbs {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 22px;
    font-size: 14px;
    color: #a79383;
    width: auto;
    justify-content: space-between;
}

.crumbs li {
    margin-left: 6px;
}

.crumbs li a {
    color: #a79383;
}

.crumbs li a:hover {
    text-decoration: none;
}

.crumbs li a:after {
    content: "→";
    color: #a79383;
    display: inline-block;
    padding-left: 8px;
}

.user-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    color: #a79383;
    padding-right: 10px;
}

.user-links li {
    padding-left: 3px;
}

.user-links li a:hover {
    text-decoration: none;
}

.user-links li a {
    color: #a79383;
}

.heading-message {
    background: url("../img/Layer4.jpg") no-repeat center top / cover;
    position: relative;
    height: 80px;
}

.message-wrap {
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.message-wrap h3 {
    font-size: 30px;
    color: #e9c4a8;
    font-weight: 400;
    padding-left: 28px;
}

.messange-wrap__rivet1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.messange-wrap__rivet2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.messange-wrap__rivet3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 62px;
    left: 8px;
}

.messange-wrap__rivet4 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 62px;
    right: 8px;
}

.message-wrap__btn {
    background: url("../img/sprite.png") no-repeat;
    height: 45px;
    width: 233px;
    background-position: -8px -10px;
    position: absolute;
    top: 20px;
    right: 23px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 11px 25px #070605;
    border-radius: 39px;
}

.chat-room {
}

.users-block {
}
/*===================================================================*/

.user-chat {
    display: flex;
    height: 308px;
    width: 100%;
}

.user-status {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    position: relative;
    border-top: 2px solid #53473a;
    border-left: 2px solid #53473a;
    border-bottom: 2px solid #120f0d;
    border-right: 2px solid #120f0d;
    background: rgba(61, 48, 41, 1);
    background: -moz-linear-gradient(
        left,
        rgba(61, 48, 41, 1) 0%,
        rgba(43, 35, 31, 1) 31%,
        rgba(43, 35, 31, 1) 75%,
        rgba(61, 48, 41, 1) 100%
    );
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(61, 48, 41, 1)),
        color-stop(31%, rgba(43, 35, 31, 1)),
        color-stop(75%, rgba(43, 35, 31, 1)),
        color-stop(100%, rgba(61, 48, 41, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(61, 48, 41, 1) 0%,
        rgba(43, 35, 31, 1) 31%,
        rgba(43, 35, 31, 1) 75%,
        rgba(61, 48, 41, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(61, 48, 41, 1) 0%,
        rgba(43, 35, 31, 1) 31%,
        rgba(43, 35, 31, 1) 75%,
        rgba(61, 48, 41, 1) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(61, 48, 41, 1) 0%,
        rgba(43, 35, 31, 1) 31%,
        rgba(43, 35, 31, 1) 75%,
        rgba(61, 48, 41, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(61, 48, 41, 1) 0%,
        rgba(43, 35, 31, 1) 31%,
        rgba(43, 35, 31, 1) 75%,
        rgba(61, 48, 41, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3029', endColorstr='#3d3029', GradientType=1 );
}

.client {
    height: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.client-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52px;
    justify-content: space-between;
    margin-bottom: 11px;
    position: relative;
}

.client-head__link {
    color: #c4b1a1;
    font-weight: 700;
    font-size: 16px;
}

.client-head__link:hover {
    text-decoration: none;
    color: #edd6c3;
}

.client-head__title {
    color: #fff;
    font-weight: 700;
}

.client p {
    color: #8d7e76;
    font-weight: 700;
}

.client span {
    color: #24c381;
    font-weight: 700;
}

.client-head__mark {
    background: url("../img/sprite.png") no-repeat;
    height: 17px;
    width: 17px;
    background-position: -361px -26px;
    position: absolute;
    top: 1px;
    left: 9px;
}

.client-head__crown {
    background: url("../img/sprite.png") no-repeat;
    height: 17px;
    width: 17px;
    background-position: -466px -54px;
    position: absolute;
    top: 20px;
    left: -21px;
}

.client__img {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    border: 5px solid #e8621e;
    margin-bottom: 15px;
}
.fetters-left {
    background: url("../img/sprite.png") no-repeat;
    height: 151px;
    width: 66px;
    background-position: -1077px -234px;
    position: absolute;
    top: 59px;
    left: -32px;
}

.fetters-right {
    background: url("../img/sprite.png") no-repeat;
    height: 151px;
    width: 66px;
    background-position: -1144px -234px;
    position: absolute;
    top: 59px;
    right: -32px;
}

.client-head__link {
    position: relative;
    width: 50px;
}

.client-head__like {
    background: url("../img/sprite.png") no-repeat;
    height: 18px;
    width: 20px;
    background-position: -330px -24px;
    position: absolute;
    top: 5px;
    left: -24px;
}

.client-head__dislike {
    background: url("../img/sprite.png") no-repeat;
    height: 18px;
    width: 20px;
    background-position: -302px -24px;
    position: absolute;
    top: 10px;
    left: 7px;
}
/*===================================================================*/

.user-message {
    background: #c4b1a1;
    width: 100%;
    padding: 20px 15px 15px 15px;
    border-bottom: 1px solid #2e2117;
}

.user-message__date {
    display: flex;
    width: 130px;
    justify-content: space-between;
    font-size: 10px;
    color: #705e4f;
    margin-bottom: 13px;
}

.user-message__text {
    font-size: 14px;
    color: #1b1512;
    width: 612px;
}

.message-links {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.message-links__send {
    width: 97px;
    height: 33px;
    background: #d7c5b5;
    border-radius: 5px;
    color: #493c37;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 14px;
    transition: all 0.5s ease;
}

.message-btn:hover {
    background: #ebdcd0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.arrow-send {
    background: url("../img/sprite.png") no-repeat;
    height: 20px;
    width: 22px;
    background-position: -279px -54px;
    position: absolute;
    top: 8px;
    left: 7px;
}

.message-links__edit {
    width: 190px;
    height: 33px;
    background: #d7c5b5;
    border-radius: 5px;
    color: #493c37;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 14px;
    transition: all 0.5s ease;
}

.pen-edit {
    background: url("../img/sprite.png") no-repeat;
    height: 20px;
    width: 22px;
    background-position: -252px -54px;
    position: absolute;
    top: 8px;
    left: 7px;
}

.message-links__del {
    width: 155px;
    height: 33px;
    background: #d7c5b5;
    border-radius: 5px;
    color: #493c37;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 14px;
    transition: all 0.5s ease;
}

.urn-del {
    background: url("../img/sprite.png") no-repeat;
    height: 19px;
    width: 17px;
    background-position: -281px -25px;
    position: absolute;
    top: 8px;
    left: 11px;
}

.redaction-wrapper {
    display: flex;
    width: 360px;
    justify-content: space-between;
}

.user-status__point {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 10px;
    background-position: -311px -58px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.client__img2 {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    border: 5px solid #d1c5bb;
    margin-bottom: 15px;
}

.answer-client span {
    font-weight: 700;
    color: #d90000;
}

.user-status__point_red {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 10px;
    background-position: -332px -58px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.answer-wrapper {
    display: flex;
    width: 360px;
    justify-content: flex-end;
}

.complaint-btn {
    width: 130px;
}

.answer-attention {
    background: url("../img/sprite.png") no-repeat;
    height: 16px;
    width: 16px;
    background-position: -256px -24px;
    position: absolute;
    top: 7px;
    left: 10px;
}

.quote {
    background: #1b1512;
    color: #c4b1a1;
    font-size: 14px;
    padding: 7px;
    margin-top: 6px;
    margin-bottom: 17px;
    position: relative;
}

.quote:after {
    content: "";
    display: flex;
    position: absolute;
    top: -16px;
    left: 35px;
    border: 9px solid transparent;
    border-bottom: 9px solid #1b1512;
}

.quote-author {
    color: #1b1512;
    font-weight: 700;
}

.user-block {
    height: 243px;
}

.pagination {
    color: #a79383;
    display: flex;
    padding-left: 28px;
    height: 30px;
    align-items: center;
    background: rgba(5, 4, 3, 1);
    background: -moz-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(5, 4, 3, 1)),
        color-stop(100%, rgba(68, 56, 44, 1))
    );
    background: -webkit-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050403', endColorstr='#44382c', GradientType=0 );
}

.pagination strong {
    padding-right: 6px;
}

.pagination__link {
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: space-between;
}

.pagination__link li {
}

.pagination__link a {
    color: #a79383;
    text-decoration: none;
}

.pagination__link a:hover {
    color: #fff;
}

.active {
    background: #d90000;
    color: #fff !important;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-btn {
    background: url("../img/sprite.png") no-repeat;
    height: 45px;
    width: 194px;
    background-position: -9px -64px;
    position: absolute;
    top: 20px;
    right: 51px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 11px 25px #070605;
    border-radius: 39px;
}

/* message (articles) */
.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    position: relative;
    background: rgba(5, 4, 3, 1);
    background: -moz-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, rgba(5, 4, 3, 1)),
        color-stop(100%, rgba(68, 56, 44, 1))
    );
    background: -webkit-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -o-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: -ms-linear-gradient(top, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    background: linear-gradient(to bottom, rgba(5, 4, 3, 1) 0%, rgba(68, 56, 44, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050403', endColorstr='#44382c', GradientType=0 );
}

.topics-wrap {
    margin-left: 40px;
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
}

.event-wrap {
    display: flex;
    width: 360px;
    justify-content: space-between;
    margin-right: 30px;
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
}

.make {
    background: #a79383;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    width: 100;
}

.make:hover {
    background: #c4b1a1;
    transition: all 0.3s ease;
}

.make-last {
    border-top: 1px solid #281c11;
}

.make-left {
    display: flex;
    align-items: center;
    margin-left: 43px;
    position: relative;
}

.make-left__title {
    font-size: 18px;
    font-weight: 700;
    color: #29201c;
    text-decoration: none;
    margin-right: 38px;
}

.make-left__links {
    display: flex;
    justify-content: space-between;
    width: 102px;
}

.make-left__links li {
}

.make-left__links li a {
    font-size: 11px;
    color: #29201c;
}

.make-left__links li a:hover {
    text-decoration: none;
}

.make-left__links span a {
    text-decoration: none;
    font-size: 11px;
    color: #29201c;
}

/*.make-right {*/
/*    width: 346px;*/
/*    font-weight: 700;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-right: 43px;*/
/*}*/

.make__images {
    background: url("../img/sprite.png") no-repeat;
    height: 24px;
    width: 24px;
    background-position: -218px -76px;
    position: absolute;
    top: 0px;
    left: -25px;
}

/* message */

.header-topic {
    padding-top: 70px;
    padding-bottom: 45px;
}

.window-block {
    height: auto;
    width: 1200px;
    background: rgba(45, 37, 32, 1);
    background: -moz-linear-gradient(left, rgba(45, 37, 32, 1) 0%, rgba(27, 21, 18, 1) 44%, rgba(44, 36, 31, 1) 100%);
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(45, 37, 32, 1)),
        color-stop(44%, rgba(27, 21, 18, 1)),
        color-stop(100%, rgba(44, 36, 31, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(45, 37, 32, 1) 0%,
        rgba(27, 21, 18, 1) 44%,
        rgba(44, 36, 31, 1) 100%
    );
    background: -o-linear-gradient(left, rgba(45, 37, 32, 1) 0%, rgba(27, 21, 18, 1) 44%, rgba(44, 36, 31, 1) 100%);
    background: -ms-linear-gradient(left, rgba(45, 37, 32, 1) 0%, rgba(27, 21, 18, 1) 44%, rgba(44, 36, 31, 1) 100%);
    background: linear-gradient(to right, rgba(45, 37, 32, 1) 0%, rgba(27, 21, 18, 1) 44%, rgba(44, 36, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2520', endColorstr='#2c241f', GradientType=1 );
    border-top: 2px solid #53473a;
    border-left: 2px solid #53473a;
    border-bottom: 2px solid #0b0907;
    border-right: 2px solid #0b0907;
    position: relative;
    padding: 22px 35px 40px 35px;
}

.window-riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.window-riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.window-riv3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.window-riv4 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.window-block__title {
    font-size: 30px;
    font-weight: 700;
    color: #ebdcd0;
    padding-bottom: 19px;
    border-bottom: 1px solid #0d0a05;
}

.window-wrap {
    position: relative;
}

.window-wrap__title {
    background: linear-gradient(#ddc4b2, #3a302c);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 18px;
    padding-top: 23px;
    padding-bottom: 11px;
}

.window-wrap__imput {
    height: 51px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #46372a;
    background: #0f0b09;
    outline: none;
    color: #e9c4a8;
    padding-left: 15px;
    display: block;
}

.title-block {
    position: relative;
}

.title-block span {
    position: absolute;
    color: #c4b1a1;
    width: auto;
    bottom: 18px;
    right: 13px;
}

.message-block span {
    position: absolute;
    width: auto;
    right: 13px;
    bottom: 16px;
}

#characters-error {
    position: absolute;
    width: auto;
    right: 13px;
    bottom: 62px;
}

.message-block {
    position: relative;
    margin-bottom: 32px;
}

.line-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0b09;
    height: 50px;
    padding: 0 17px;
}

.line-links {
    display: flex;
    align-items: center;
    width: 545px;
    justify-content: space-between;
}

.message-block__text {
    height: 195px;
    width: 100%;
    resize: none;
    outline: none;
    padding: 15px 0 0 15px;
    font-size: 14px;
    color: #816f60;
    position: relative;
    background: #ebdcd0;
}

::-webkit-input-placeholder {
    color: #493c37;
    font-size: 14px;
}

::-moz-placeholder {
    color: #493c37;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #493c37;
    font-size: 14px;
}

:-moz-placeholder {
    color: #493c37;
    font-size: 14px;
}

.message-block__btn {
    background: url("../img/sprite.png") no-repeat;
    height: 45px;
    width: 161px;
    background-position: -8px -117px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 11px 25px #070605;
    border-radius: 39px;
    cursor: pointer;
}

.message-block__btn:focus {
    outline: none;
}

.form-buttons {
    display: flex;
    align-items: center;
    width: 465px;
    justify-content: space-between;
}

.form-buttons a {
    font-size: 18px;
    font-weight: 700;
    color: #ebdcd0;
}

.form-buttons a:hover {
    text-decoration: none;
}

.header-message {
    padding-bottom: 120px;
}

.warning {
    background: #ff0000;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 3px;
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

/* Login window */

.header-entrance {
    padding-top: 100px;
    padding-bottom: 220px;
}

main {
    padding: 50px;
    margin: 0 auto;
    width: 320px;
    height: 365px;
    position: relative;
}

#content1 {
    height: auto;
    position: relative;
}

.texture {
    position: absolute;
    top: -151px;
    z-index: -1;
    width: 100%;
}

.texture2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
}

#content2 {
    height: auto;
    position: relative;
}

#content1,
#content2 {
    display: none;
    z-index: 1;
    padding: 20px 0 0;
    border: 3px solid #7e6548;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    background: rgba(44, 36, 31, 1);
    background: -moz-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(43, 34, 30, 1) 100%
    );
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(44, 36, 31, 1)),
        color-stop(29%, rgba(27, 21, 18, 1)),
        color-stop(70%, rgba(27, 21, 18, 1)),
        color-stop(100%, rgba(43, 34, 30, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(43, 34, 30, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(43, 34, 30, 1) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(43, 34, 30, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(43, 34, 30, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c241f', endColorstr='#2b221e', GradientType=1 );
}

input {
    display: none;
}

.tab2 {
    color: #978277;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 20px;
    text-align: center;
    position: relative;
    width: 99px;
    cursor: pointer;
    background: #120e0c;
    border-top: 3px solid #7e6548;
    border-right: 3px solid #7e6548;
    border-left: 3px solid #7e6548;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab1 {
    background: #120e0c;
}

.tab-text {
    background: linear-gradient(#ddc4b2, #857168);
    -webkit-background-clip: text;
    color: transparent;
}

.entr-input {
    display: block;
    width: 285px;
    height: 40px;
    background: #0e0a09;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 9px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #4a3a2c;
    border-right: 1px solid #4a3a2c;
    position: relative;
}

.entr-input:focus {
    outline: none;
}

input:checked + .tab2 {
    color: #857168;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    width: 105px;
    top: -2px;
    border-top: 3px solid #7e6548;
    border-left: 3px solid #7e6548;
    border-right: 3px solid #7e6548;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tab-box1 {
    position: absolute;
    width: 157px;
    height: 72px;
    top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 3px solid #7e6548;
    border-right: 3px solid #7e6548;
    border-left: 3px solid #7e6548;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #978277;
    font-size: 14px;
    font-weight: 700;
}

.tab-active {
    top: 0;
    z-index: 6;
    background: rgb(44, 36, 31);
    background: -moz-linear-gradient(
        left,
        rgb(44, 36, 31) 0%,
        rgb(27, 21, 18) 29%,
        rgb(27, 21, 18) 70%,
        rgb(27, 21, 18) 100%
    );
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(44, 36, 31, 1)),
        color-stop(29%, rgba(27, 21, 18, 1)),
        color-stop(70%, rgba(27, 21, 18, 1)),
        color-stop(100%, rgba(27, 21, 18, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(27, 21, 18, 1) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(27, 21, 18, 1) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(44, 36, 31, 1) 0%,
        rgba(27, 21, 18, 1) 29%,
        rgba(27, 21, 18, 1) 70%,
        rgba(27, 21, 18, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgb(43, 35, 30) 0%,
        rgb(34, 27, 24) 29%,
        rgb(27, 21, 18) 70%,
        rgb(27, 21, 18) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c241f', endColorstr='#1b1512', GradientType=1 );
}

#tab-box2 {
    position: absolute;
    right: 50px;
    width: 127px;
    height: 43px;
    top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to right,
        rgb(27, 21, 18) 0%,
        rgb(27, 21, 18) 29%,
        rgb(36, 26, 21) 70%,
        rgb(47, 35, 31) 100%
    );
}

.figure-tab2 {
    border-bottom: 16px solid #7e6548;
    border-right: 16px solid transparent;
    position: absolute;
    top: 34px;
    right: 196px;
    z-index: 4;
    cursor: pointer;
}

.figure-tab2:after {
    content: "";
    display: block;
    background: #1b1512;
    width: 14px;
    height: 13px;
    position: absolute;
    right: -18px;
    top: 3px;
    border-radius: 0px 19px 0px 18px;
}

.figure-tab3 {
    border-bottom: 5px solid #1b1512;
    border-right: 1px solid transparent;
    position: absolute;
    top: 44px;
    right: 201px;
    cursor: pointer;
    z-index: 6;
    border-radius: 87px 16px 140px 12px;
    transform: rotate(63deg);
    width: 12px;
}

.figure-tab3:after {
    content: "";
    display: block;
    background: #1b1512;
    width: 7px;
    height: 8px;
    right: -16px;
    top: -9px;
    border-radius: 49%;
    position: relative;
    transform: rotate(158deg);
}

.figure-tab4 {
    border-bottom: 6px solid #1e1714;
    border-right: 0px solid transparent;
    position: absolute;
    top: 63px;
    right: 163px;
    cursor: pointer;
    z-index: 5;
    border-radius: 29px 0px 26px 0px;
    transform: rotate(-32deg);
    width: 16px;
}

.figure-tab4:after {
    content: "";
    display: block;
    height: 7px;
    right: -9px;
    top: 7px;
    border-radius: 0;
    position: relative;
    transform: rotate(89deg);
}

.figure-tab1 {
    border-bottom: 16px solid #7e6548;
    border-right: 16px solid transparent;
    position: absolute;
    top: 56px;
    right: 169px;
    z-index: 4;
    cursor: pointer;
    transform: rotate(-90deg);
}

.figure-tab1:after {
    content: "";
    display: block;
    background: #120e0c;
    width: 14px;
    height: 13px;
    position: absolute;
    right: -17px;
    top: 2px;
    border-radius: 0px 19px 0px 18px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

.tab1-riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 3px;
    left: 4px;
}

.tab1-riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 3px;
    right: 4px;
}

.content1-riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 3px;
    right: 4px;
}

.content1-riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    bottom: 3px;
    right: 4px;
}

.content1-riv3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    bottom: 3px;
    left: 4px;
}

.content2-riv1 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 3px;
    left: 4px;
}

.content2-riv2 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    bottom: 3px;
    right: 4px;
}

.content2-riv3 {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    bottom: 3px;
    left: 4px;
}

.code-wrapper {
    display: flex;
    justify-content: space-between;
    width: 286px;
    margin: 0 auto;
}

.code-generator {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #493c37;
    width: 128px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-password {
    width: 146px;
    height: 40px;
    background: #100c0a;
    border-radius: 5px;
    display: flex;
    border: none;
    padding-left: 13px;
    color: #fff;
    border-bottom: 1px solid #4a3a2c;
    border-right: 1px solid #4a3a2c;
    position: relative;
}

.code-password:focus {
    outline: none;
}

.code-status {
    background: url("../img/sprite.png") no-repeat;
    height: 23px;
    width: 28px;
    background-position: -308px -80px;
    position: absolute;
    right: 23px;
    top: 126px;
}

.hide-password {
    background: url("../img/sprite.png") no-repeat;
    height: 18px;
    width: 18px;
    background-position: -251px -78px;
    position: absolute;
    right: 25px;
    top: 79px;
    display: block;
}

.open-password-active {
    display: block;
    background: url("../img/sprite.png") no-repeat;
    height: 15px;
    width: 19px;
    background-position: -279px -78px;
    position: absolute;
    right: 24px;
    top: 79px;
}

.open-password {
    background: url("../img/sprite.png") no-repeat;
    height: 22px;
    width: 23px;
    background-position: -278px -77px;
    position: absolute;
    right: 25px;
    top: 79px;
    display: none;
}

.forward-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* .forward-wrap__btn {
    width: 146px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
} */

.forward-wrap__link {
    font-size: 14px;
    color: #a7928a;
}

.forward-wrap__link:hover {
    text-decoration: none;
}

.blank-btn {
    background: url("../img/sprite.png") no-repeat;
    background-position: -9px -175px;
    right: 0;
    left: 0px;
    top: 0px;
    width: 162px;
    height: 44px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #857168;
    border-radius: 13px;
    box-shadow: 0 15px 36px #0a0807;
}

.blank-btn:hover {
    background: url(../img/sprite.png) no-repeat;
    background-position: -9px -117px;
    right: 0;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 44px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #03ff00;
    border-radius: 13px;
    box-shadow: 0 15px 36px #0a0807;
}

.blank-btn:active {
    padding: 0;
}

.blank-btn:focus {
    outline: none;
}

.decor-figure {
    /* background: url('../img/sprite.png') no-repeat; */
    background-position: -1305px -321px;
    left: 21px;
    top: -19px;
    width: 120px;
    height: 16px;
    position: absolute;
}

.decor-figure__active {
    background: url("../img/sprite.png") no-repeat;
    background-position: -1305px -321px;
    left: 30px;
    top: -19px;
    width: 120px;
    height: 16px;
    position: absolute;
    display: block;
}
.enter-block {
    position: relative;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.enter-block2 {
    position: relative;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.decor-figure2 {
    background: url("../img/sprite.png") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: -1224px -357px;
    top: 21px;
    left: 13px;
    width: 277px;
    height: 45px;
    position: absolute;
}

.enter-btn {
    width: auto;
    text-align: center;
}

.decor-figure3 {
    background: url("../img/sprite.png") no-repeat;
    background-position: -1224px -357px;
    top: 21px;
    left: 0px;
    width: 277px;
    height: 45px;
    position: absolute;
}

.decor-figure4 {
    /* background: url('../img/sprite.png') no-repeat; */
    background-position: -1305px -321px;
    left: 27px;
    top: -19px;
    width: 120px;
    height: 16px;
    position: absolute;
}

.registration-wrap input {
    display: block;
    height: 39px;
    background: #0e0a09;
    border: none;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #4a3a2c;
    border-right: 1px solid #4a3a2c;
}

.registration-wrap input:focus {
    outline: none;
}

.entr-error {
    top: 14px;
    right: -116px;
    height: 54px;
    display: flex;
    align-items: center;
    width: 118px;
}

/*.entr-sms {*/
/*    top: 111px;*/
/*    left: 313px;*/
/*    width: 118px;*/
/*}*/

.user-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 18px;
}

.user-info {
    width: 132px;
}

.nickname {
    width: 100%;
}

.date-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.date-wrap select {
    display: block;
    background: #0e0a09;
    border: none;
    height: 39px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #4a3a2c;
    border-right: 1px solid #4a3a2c;
}

.date-wrap select:focus {
    outline: none;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    display: block;
    height: 39px;
    background: #0e0a09;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #4a3a2c;
    border-right: 1px solid #4a3a2c;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 6px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #857168 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #857168 transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 10px 8px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background: #0e0a09;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #2b221e;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 140px;
    overflow-y: scroll;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items::-webkit-scrollbar {
    width: 11px;
}

.select-items::-webkit-scrollbar-track {
    background: #2c231f;
}

.select-items::-webkit-scrollbar-thumb {
    background: #857168;
    border-radius: 8px;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.date-select {
    width: 63px;
}

.month-select {
    width: 140px;
}

.year-select {
    width: 63px;
}

.birth {
    width: 100%;
}

.birth strong {
    color: #857168;
    font-size: 14px;
    margin-bottom: 5px;
}

.next-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.next-wrap strong {
    color: #857168;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.regulations {
    font-size: 12px;
    color: #644f3a;
    text-align: center;
    width: 224px;
    margin: 0 auto;
    line-height: 1.4em;
    padding: 10px 0 18px 0;
}

.regulations a {
    color: #ab9072;
}

.regulations a:hover {
    color: #c0aa93;
}

.registration__btn {
    margin: 0 auto;
}

.form-error {
    color: #fff;
    text-align: left;
    background: #d90000;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 11px;
    position: absolute;
    top: 0px;
    /*right: -176px;*/
    left: 310px;
    width: auto;
    z-index: 1;
    font-size: 13px;
}

.form-error:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #d90000;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 13px;
    left: -7px;
}

.form__field {
    position: relative;
}
.error-style {
    border: 1px solid #d90000 !important;
    padding-left: 8px;
}

.error-style::-webkit-input-placeholder {
    color: #d90000;
    font-size: 14px;
}

.error-style::-moz-placeholder {
    color: #d90000;
    font-size: 14px;
}

.error-style::-ms-input-placeholder {
    color: #d90000;
    font-size: 14px;
}

.error-style::-moz-placeholder {
    color: #d90000;
    font-size: 14px;
}

.registration__btn:hover {
    background: url(../img/sprite.png) no-repeat;
    background-position: -9px -118px;
    left: 0;
    width: 160px;
    height: 44px;
    bottom: 44px;
    cursor: pointer;
    position: relative;
    border: none;
    padding: 0;
    margin-bottom: -26px;
    font-size: 18px;
    font-weight: 700;
    color: #03ff00;
    border-radius: 13px;
    box-shadow: 0 13px 11px #0a0807;
    margin-bottom: 0;
}

.registration-hide {
    top: 368px;
    right: 27px;
}

.registration-active {
    background: url("../img/sprite.png") no-repeat;
    height: 22px;
    width: 23px;
    background-position: -278px -77px;
    position: absolute;
    right: 23px;
    top: 367px;
    display: block;
}

.registration-open {
    background: url("../img/sprite.png") no-repeat;
    height: 22px;
    width: 23px;
    background-position: -278px -77px;
    position: absolute;
    right: 26px;
    top: 368px;
    display: none;
}

.sms-status {
    right: 26px;
    top: 510px;
}

.error-mail {
    left: 296px;
    width: 166px;
    height: 54px;
    top: 79px;
}

.error-sms {
    left: 296px;
    width: 117px;
    height: 54px;
    top: 269px;
}

.status-green {
    background: url("../img/sprite.png") no-repeat;
    height: 23px;
    width: 28px;
    background-position: -342px -80px;
    position: absolute;
    right: 26px;
    top: 510px;
    display: none;
}

/* cabinet */
.cabinet-stove {
    border-bottom: 0;
    box-shadow: none;
}

.header-cabinet {
    padding: 0;
}

.heading-cabinet {
    height: 42px;
    border-bottom: 2px solid #0c0908;
}

.content-manu {
    box-shadow: -1px 0 0px #130e08 inset;
}

.special-menu {
    width: 316px;
    padding-right: 160px;
}

.center-section {
    width: 200px;
}

.information-menu {
    width: 493px;
    padding-left: 209px;
    margin-left: auto;
}

.notification:before {
    left: 236px;
}

.main-manu__riv2 {
    background: url(../img/sprite.png) no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 26px;
    left: 8px;
}

.info-menu__riv2 {
    background: url(../img/sprite.png) no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 26px;
    right: 0;
}

.center-section__logo {
    width: 106px;
    height: 53px;
    position: absolute;
    top: -14px;
}

.heading-cabinet__big {
    right: 27%;
}

.den {
    padding-bottom: 20px;
}

.den-block {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.profile {
    width: 348px;
    background: #1b1512;
}

.public {
    display: flex;
    flex-direction: column;
    width: auto;
    background: #1b1512;
    padding-bottom: 90px;
}

.user-cabinet {
    background: none;
    border: none;
    width: 100%;
}

.den-profile {
    width: 100%;
}

.client-window {
    padding-top: 20px;
    position: relative;
}

.client-status__point {
    top: 7px;
    right: 8px;
}

.property-block {
    padding: 30px;
}

.settings {
    height: 26px;
    width: 26px;
    background: #130e0c;
    border-radius: 50%;
    top: 214px;
    position: absolute;
}

.settings:after {
    background: url(../img/sprite.png) no-repeat;
    background-position: -220px -109px;
    position: absolute;
    top: 5px;
    display: block;
    content: "";
    height: 18px;
    width: 17px;
    right: 4px;
}

.content-box {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.property-block li {
    margin-bottom: 10px;
}

.property-block strong {
    color: #5f514c;
    line-height: 1.4em;
}

.property-block p {
    color: #fff;
    font-weight: 700;
}

.property-block__btn {
    background: url(../img/sprite.png) no-repeat;
    background-position: -9px -175px;
    top: 5px;
    content: "";
    height: 43px;
    width: 161px;
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ddc4b2;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

.property-block__repeal {
    background: url(../img/sprite.png) no-repeat;
    background-position: -9px -233px;
    top: 5px;
    content: "";
    height: 43px;
    width: 163px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffd800;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    z-index: 5;
    display: none;
}

.property-active {
    display: flex;
}

.author-block {
    margin-top: 6px;
    box-shadow: -10px -44px 35px #1b1512;
    padding: 0 13px;
    width: 680px;
}

.author-block h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.copyright-topics {
    margin-bottom: 23px;
}

.copyright-publications {
}

.theme-wrapper {
    width: 595px;
}

.theme-date {
    display: flex;
    width: 130px;
    justify-content: space-between;
    color: #aea39a;
    font-size: 10px;
    margin-bottom: 4px;
}

.theme-wrapper li {
    margin-bottom: 13px;
    width: 573px;
}

.theme-wrapper li a {
    font-size: 18px;
    font-weight: 700;
    color: #aea39a;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.theme-wrapper li a:hover {
    text-decoration: none;
    transition: all 0.3s ease;
}

.theme-wrapper li p {
    font-size: 14px;
    color: #5f514c;
    margin-top: 8px;
}

.public-editing {
    background: url(../img/sprite.png) no-repeat;
    background-position: -252px -54px;
    top: 8px;
    height: 21px;
    width: 22px;
    position: absolute;
    right: 12px;
}

.information-line {
    position: absolute;
    width: 850px;
    height: 40px;
    display: flex;
    top: 210px;
    justify-content: space-between;
    padding: 0 13px;
    align-items: center;
}

.status-box {
    display: flex;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.social-box a:not(:last-child) {
    margin-right: 5px;
}

.youtube-icon {
    background: url(../img/sprite.png) no-repeat;
    background-position: -360px -114px;
    height: 26px;
    width: 27px;
}

.vk-icon {
    background: url(../img/sprite.png) no-repeat;
    background-position: -323px -114px;
    height: 26px;
    width: 27px;
}

.telegram-icon {
    background: url(../img/sprite.png) no-repeat;
    background-position: -285px -114px;
    height: 26px;
    width: 27px;
}

.insta-icon {
    background: url(../img/sprite.png) no-repeat;
    background-position: -248px -114px;
    height: 26px;
    width: 27px;
}

.statistics:not(:last-child) {
    padding-right: 12px;
}

.statistics p {
    color: #564c44;
}

.statistics strong {
    font-weight: 700;
    color: #fff;
}

.statistics span {
    color: #66d09f;
    font-weight: 700;
}

/* cabinet-open */

.float {
    height: 356px;
    width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.fire {
    position: relative;
    width: 27px;
    height: 27px;
}

.dds {
    width: 387px;
}

.dds p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.float-card {
    background: #130e0c;
    /*height: 167px;*/
    height: auto;
    max-width: 230px;
    border-radius: 5px;
    color: #c4b1a1;
    font-size: 14px;
    padding: 11px 27px 15px 17px;
    position: relative;
    margin-top: 10px;
}

.float-card__close {
    background: url(../img/sprite.png) no-repeat;
    height: 22px;
    width: 23px;
    background-position: -249px -77px;
    position: absolute;
    top: 44px;
    right: 12px;
}

.float-card__open {
    background: url(../img/sprite.png) no-repeat;
    height: 22px;
    width: 23px;
    background-position: -277px -77px;
    position: absolute;
    bottom: 15px;
    right: 54px;
}

.float-list {
    text-align: end;
    position: relative;
}

.float-list li:not(:last-child) {
    padding-bottom: 11px;
}

.float-list li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.float-list__active {
    font-weight: 700;
    position: relative;
}

.float-list__active:before {
    content: "";
    display: block;
    background: url(../img/sprite.png) no-repeat;
    height: 13px;
    width: 14px;
    background-position: -222px -128px;
    position: absolute;
    right: -69px;
    top: 2px;
}

.changes-section {
    box-shadow: -10px -44px 35px #1b1512;
}

.changes-section__title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
}

.changes-editing {
    background: url(../img/sprite.png) no-repeat;
    background-position: -252px -54px;
    height: 21px;
    width: 22px;
    position: absolute;
    right: 0;
    top: 12px;
    left: 317px;
}

.changes-main {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    margin-top: 30px;
}

#changes-input {
    display: block;
    width: 281px;
    height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: none;
    border-bottom: 1px solid #453629;
    box-shadow: 0 -1px 0px #050403 inset;
}

#changes-input:focus,
#changes-input__text {
    outline: none;
}

#form__label {
    position: absolute;
    top: -5px;
    outline: none;
    color: #64554f;
    font-size: 14px;
    transition: 0.3s;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

#form-social {
    position: absolute;
    top: -15px;
    outline: none;
    color: #64554f;
    font-size: 14px;
    transition: 0.3s;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

#changes-input__text:focus ~ #form-social,
#changes-input__text:not(:placeholder-shown) ~ #form-social {
    top: -26px;
    font-size: 14px;
}

#changes-input:focus ~ #form__label,
#changes-input:not(:placeholder-shown) ~ #form__label {
    top: -18px;
    font-size: 14px;
}

#changes-input__text:focus ~ #form__label,
#changes-input__text:not(:placeholder-shown) ~ #form__label {
    top: -18px;
    font-size: 14px;
}

.form__group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.changes-date {
    margin-top: 15px;
}

.changes-date p {
    font-size: 14px;
    color: #64554f;
}

.form-date {
    display: flex;
    justify-content: space-between;
    width: 255px;
    margin-top: 6px;
}

.surname-hide {
    top: 0px;
    right: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

/* Date of birth in profile settings */

/* The container must be positioned relative: */
.cabinet-select .custom-select {
    position: relative;
    font-family: Arial;
}

.cabinet-select .custom-select select {
    display: none; /*hide original SELECT element: */
}

.cabinet-select .select-selected {
    display: block;
    height: 35px;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #1b1512;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #453629;
    box-shadow: 0 -1px 0px #050403 inset;
}

/* Style the arrow inside the select element: */
.cabinet-select .select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: -1px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #857168 transparent transparent transparent;
}

.date-settings {
    margin-right: 13px;
    width: 63px;
}

.month-settings {
    margin-right: 13px;
    width: 140px;
}

.year-settings {
    width: 63px;
}

/* Point the arrow upwards when the select box is open (active): */
.cabinet-select .select-selected.select-arrow-active:after {
    border-color: transparent transparent #857168 transparent;
    top: 12px;
}

/* style the items (options), including the selected item: */
.cabinet-select .select-items div {
    color: #ffffff;
    padding: 10px 8px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    background: #1b1512;
}

/* Style items (options): */
.cabinet-select .select-items {
    position: absolute;
    background-color: #2b221e;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 140px;
    overflow-y: scroll;
}

/* Hide the items when the select box is closed: */
.cabinet-select .select-hide {
    display: none;
}

.cabinet-select .select-items::-webkit-scrollbar {
    width: 11px;
}

.cabinet-select .select-items::-webkit-scrollbar-track {
    background: #2c231f;
}

.cabinet-select .select-items::-webkit-scrollbar-thumb {
    background: #857168;
    border-radius: 8px;
}

.cabinet-select .select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#changes-input__text {
    display: block;
    height: 20px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: none;
    border-bottom: 1px solid #453629;
    box-shadow: 0 -1px 0px #050403 inset;
}

.form-box {
    width: 100%;
    position: relative;
}

.changes-form__btn {
    background: url("../img/sprite.png") no-repeat;
    background-position: -9px -117px;
    right: 0;
    left: 0px;
    top: 0px;
    margin-top: 30px;
    width: 158px;
    height: 44px;
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #03ff00;
    border-radius: 13px;
    box-shadow: 0 15px 36px #0a0807;
}

.changes-form__btn:focus {
    outline: none;
}

.cover-section {
    padding-top: 43px;
}

.cover-title {
    margin: 0;
}

.cover-editing {
    left: 207px;
}

.upload-changes {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
}

.cover-wrapper {
    display: flex;
    flex-direction: column;
}

.photo-round {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background: #d4cac6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.camera {
    background: url("../img/sprite.png") no-repeat;
    background-position: -398px -114px;
    width: 34px;
    height: 27px;
}

.loading-wrapper {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

#upload:focus {
    outline: none;
}

.info-sizes strong {
    color: #d4cac6;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info-sizes p {
    color: #7f736e;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 700;
}

.hide-upload {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.label-upload {
    display: flex;
    cursor: pointer;
    width: 140px;
    height: 50px;
    background: #493c37;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.square-cover {
    width: 323px;
    height: 155px;
    background: #d4cac6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.additionally {
}

.additionally-editing {
    left: 440px;
}

.social-sector {
}

.social-title {
}

.social-editing {
    left: 266px;
}

.changes-section__title:not(:nth-child(1)) {
    margin-top: 32px;
}

.youTube-item {
    background: url(../img/sprite.png) no-repeat;
    background-position: -360px -114px;
}

.vk-item {
    background: url(../img/sprite.png) no-repeat;
    background-position: -323px -114px;
}

.insta-item {
    background: url(../img/sprite.png) no-repeat;
    background-position: -248px -114px;
}

.telegram-item {
    background: url(../img/sprite.png) no-repeat;
    background-position: -285px -114px;
}

.form-icon {
    height: 26px;
    width: 27px;
    margin-right: 10px;
}

.check-block {
    display: flex;
    flex-direction: column;
}

.notifications-editing {
    left: 206px;
}

.notifications-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.notifications-wrapper p {
    font-size: 14px;
    color: #493c37;
}

.notice-line {
    display: flex;
    width: 354px;
    justify-content: space-between;
    padding-top: 10px;
}

.notice-line li {
    display: flex;
    align-items: center;
}

.notice-lable {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: auto;
    display: flex;
    align-items: center;
    outline: none;
}

#notice-check:focus {
    outline: none;
}

.notice-check[type="checkbox"],
.notice-check[type="radio"] {
    display: none;
}

.notice-check[type="checkbox"] + label:before {
    content: "\2713";
    color: transparent;
    background: #130e08;
    border-right: 1px solid #43352b;
    border-bottom: 1px solid #43352b;
    border-radius: 5px;
    height: 20px;
    margin-right: 5px;
    width: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    transition: color ease 0.3s;
}

.notice-check[type="checkbox"]:checked + label:before {
    color: #857168;
}

.mail {
    padding-bottom: 24px;
}

.mail-block {
    min-height: 751px;
    background: #1b1512;
    z-index: 1;
    position: relative;
    display: flex;
}

.mail-block__left {
    width: 350px;
}

.mail-group {
    display: flex;
    align-items: center;
    width: 85px;
}

.new-letter {
    display: flex;
    align-items: center;
}

.white-letter {
    display: flex;
    align-items: center;
}

.white-letter .main-image {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -226px -216px;
    width: 20px;
    height: 20px;
}

.mail-block__left a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mail-column strong {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.mail-column p {
    color: #93837b;
    font-size: 10px;
}

.mail-block__active {
    background-color: #342d28;
    position: relative;
    max-height: 41px;
    padding: 5px 0 5px 11px;
    border-bottom: 1px solid #1b1512;
}

.mail-block__active .main-image {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -226px -158px;
    width: 20px;
    height: 20px;
}

.mail-block__active strong {
    color: #87786b;
}

.mail-block__active .mail-arrow {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -274px -162px;
    width: 20px;
    height: 14px;
    position: absolute;
    right: 17px;
}

.mail-link {
    max-height: 41px;
    background: #473e37;
    padding: 5px 0 5px 11px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 1px solid #1b1512;
}

.new-mail .main-image {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -226px -187px;
    width: 20px;
    height: 20px;
}

.new-mail .main-new {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -224px -248px;
    width: 27px;
    height: 14px;
    margin-left: 5px;
}

.mail-link:hover {
    background: #5a5149;
    transition: all 0.3s ease;
}

.pages {
    background: none;
    padding: 0;
    height: 46px;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 15px;
}

.mail-block__right {
    padding: 17px 0 17px 25px;
    max-width: 590px;
}

.mail-block__right h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 0.02em;
}

.mail-block__right p {
    font-size: 14px;
    color: #564945;
    margin-bottom: 25px;
}

.mail-block__right span {
    font-size: 10px;
    color: #93837b;
}

.communication {
    padding-bottom: 24px;
}

.communication-wrapper {
    background: #1b1512;
    z-index: 1;
    position: relative;
    padding-top: 45px;
    padding-bottom: 270px;
}

.communication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

.communication-content__title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
    letter-spacing: 0.02em;
}

.communication-form {
    width: 100%;
}

.communication-form__btn {
    background: url("../img/sprite.png") no-repeat;
    background-position: -9px -117px;
    right: 0;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 44px;
    cursor: pointer;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #03ff00;
    border-radius: 13px;
    box-shadow: 0 15px 36px #0a0807;
}
.communication-form__btn:focus {
    outline: none;
}

.field-input:not(:last-child) {
    margin-bottom: 33px;
}

.changes-field {
    width: 100% !important;
}

.field-input textarea {
    display: flex;
    width: 100%;
    height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: none;
    border-bottom: 1px solid #453629;
    box-shadow: 0 -1px 0px #050403 inset;
    resize: none;
}

.field-input textarea:focus {
    outline: none;
}

.description {
    padding-bottom: 24px;
}

.description-wrapper {
    background: #1b1512;
    padding: 23px;
    position: relative;
    z-index: 1;
    min-height: 750px;
    color: #fff;
}
.big-wrap {
    margin-bottom: 43px;
}

.big-wrap h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.small-wrap h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description-wrapper p {
    font-size: 14px;
}

.big-wrap a {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.big-wrap a:hover {
    text-decoration: none;
}

/* ====================================================================== */
.recivery-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px 15px 20px;
}

.recivery-wrapper__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(#ddc4b2, #857168);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 auto;
    margin-bottom: 23px;
}

.recivery {
    width: 332px;
    min-height: 207px;
    background: #1f1815 url("../img/texture.png");
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid #7e6548;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

.recivery-decor {
}

.recivery-wrapper__btn {
    margin: 0 auto;
    display: flex;
    width: 180px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/sprite.png");
    background-position: -16px -301px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;

    padding: 0;
    box-shadow: 0 15px 25px black;
    border-radius: 14px;
    margin-top: 12px;
}

.recivery-wrapper__btn:focus {
    outline: none;
}

.recivery-wrapper__btn p {
    background: linear-gradient(#ddc4b2, #857168);
    -webkit-background-clip: text;
    color: transparent;
}

.recivery-input {
    margin-bottom: 0;
    padding-left: 17px;
}

.recivery-input::-webkit-input-placeholder {
    background: linear-gradient(#5c524b, #857168);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
}

.recivery-input::-moz-placeholder {
    background: linear-gradient(#5c524b, #857168);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
}

.recivery-input::-ms-input-placeholder {
    background: linear-gradient(#5c524b, #857168);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
}

.recivery-input::-moz-placeholder {
    background: linear-gradient(#5c524b, #857168);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
}
.recivery-figure {
    left: 106px;
}

.recivery-figure2 {
    top: 204px;
    left: 25px;
}

.recivery-back__title {
    color: #ddc4b2;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 1em;
}

.recivery-back__title span {
    color: #857168;
}

.recivery-back {
    display: none;
    justify-content: center;
}

.tab-center {
    background: url("../img/sprite.png") no-repeat;
    height: 12px;
    width: 9px;
    background-position: -499px -82px;
    position: absolute;
    top: 3px;
    left: 160px;
}
