/* Media Queries */

@media screen and (max-width: 1266px) {
	
}

/*992px - 1200 px*/
@media screen and (max-width: 1200px) {
	
}

/*768px - 992 px*/
@media screen and (max-width: 992px) {

}


/*576px - 768px*/
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

}

/*0 - 576px*/
@media screen and (max-width: 576px) {

}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}